src/soap/pd/2.0.0/wsdl/Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/" xmlns:shared="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" targetNamespace="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/" elementFormDefault="qualified">
    <xsd:import namespace="http://www.promostandards.org/WSDL/ProductDataService/2.0.0/SharedObjects/" schemaLocation="SharedProductObjects.xsd"/>
    <xsd:element name="GetProductCloseOutRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="shared:wsVersion"/>
                <xsd:element ref="shared:id"/>
                <xsd:element ref="shared:password" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProductCloseOut">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="shared:productId"/>
                <xsd:element ref="shared:partId" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetProductCloseOutResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProductCloseOutArray" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element ref="tns:ProductCloseOut" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="shared:ServiceMessageArray" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetProductDateModifiedRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="shared:wsVersion"/>
                <xsd:element ref="shared:id"/>
                <xsd:element ref="shared:password" minOccurs="0"/>
                <xsd:element ref="shared:changeTimeStamp"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProductDateModified">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="shared:productId"/>
                <xsd:element ref="shared:partId" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetProductDateModifiedResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProductDateModifiedArray" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element ref="tns:ProductDateModified" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="shared:ServiceMessageArray" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetProductRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="shared:wsVersion"/>
                <xsd:element ref="shared:id"/>
                <xsd:element ref="shared:password" minOccurs="0"/>
                <xsd:element ref="shared:localizationCountry"/>
                <xsd:element ref="shared:localizationLanguage"/>
                <xsd:element ref="shared:productId"/>
                <xsd:element ref="shared:partId" minOccurs="0"/>
                <xsd:element ref="shared:colorName" minOccurs="0"/>
                <xsd:element ref="shared:ApparelSizeArray" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Product">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="shared:productId"/>
                <xsd:element ref="shared:productName"/>
                <xsd:element ref="shared:description" maxOccurs="unbounded"/>
                <xsd:element ref="shared:priceExpiresDate" minOccurs="0"/>
                <xsd:element name="ProductMarketingPointArray" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element ref="shared:ProductMarketingPoint" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ProductKeywordArray" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element ref="shared:ProductKeyword" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="shared:productBrand" minOccurs="0"/>
                <xsd:element name="export" type="xsd:boolean" nillable="true"/>
                <xsd:element name="ProductCategoryArray" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element ref="shared:ProductCategory" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="RelatedProductArray" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element ref="shared:RelatedProduct" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="shared:primaryImageUrl" minOccurs="0"/>
                <xsd:element name="ProductPriceGroupArray">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element ref="shared:ProductPriceGroup" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="shared:complianceInfoAvailable"/>
                <xsd:element name="unspscCommodityCode" type="xsd:int" minOccurs="0"/>
                <xsd:element ref="shared:LocationDecorationArray" minOccurs="0"/>
                <xsd:element name="ProductPartArray" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ProductPart" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element ref="shared:partId"/>
                                        <xsd:element name="primaryColor" minOccurs="0">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element ref="shared:Color" minOccurs="0" maxOccurs="1"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element ref="shared:description" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element ref="shared:countryOfOrigin" minOccurs="0"/>
                                        <xsd:element name="ColorArray" minOccurs="0">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element ref="shared:Color" maxOccurs="unbounded"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element ref="shared:primaryMaterial" minOccurs="0"/>
                                        <xsd:element name="SpecificationArray" minOccurs="0">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element ref="shared:Specification" maxOccurs="unbounded"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element ref="shared:shape" minOccurs="0"/>
                                        <xsd:element ref="shared:ApparelSize" minOccurs="0"/>
                                        <xsd:element ref="shared:Dimension" minOccurs="0"/>
                                        <xsd:element name="leadTime" type="xsd:int" minOccurs="0"/>
                                        <xsd:element ref="shared:unspsc" minOccurs="0"/>
                                        <xsd:element ref="shared:gtin" minOccurs="0"/>
                                        <xsd:element ref="shared:isRushService"/>
                                        <xsd:element name="ProductPackagingArray" minOccurs="0">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element ref="shared:ProductPackage" maxOccurs="unbounded"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="ShippingPackageArray" minOccurs="0">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element ref="shared:ShippingPackage" maxOccurs="unbounded"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element ref="shared:endDate"/>
                                        <xsd:element ref="shared:effectiveDate"/>
                                        <xsd:element ref="shared:isCloseout"/>
                                        <xsd:element ref="shared:isCaution"/>
                                        <xsd:element ref="shared:cautionComment" minOccurs="0"/>
                                        <xsd:element ref="shared:nmfcCode" minOccurs="0"/>
                                        <xsd:element ref="shared:nmfcDescription" minOccurs="0"/>
                                        <xsd:element ref="shared:nmfcNumber" minOccurs="0"/>
                                        <xsd:element ref="shared:isOnDemand"/>
                                        <xsd:element ref="shared:isHazmat"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="lastChangeDate" type="xsd:dateTime"/>
                <xsd:element name="creationDate" type="xsd:dateTime"/>
                <xsd:element ref="shared:endDate"/>
                <xsd:element ref="shared:effectiveDate"/>
                <xsd:element ref="shared:isCaution"/>
                <xsd:element ref="shared:cautionComment" minOccurs="0"/>
                <xsd:element ref="shared:isCloseout"/>
                <xsd:element ref="shared:lineName" minOccurs="0"/>
                <xsd:element ref="shared:defaultSetupCharge" minOccurs="0"/>
                <xsd:element ref="shared:defaultRunCharge" minOccurs="0"/>
                <xsd:element ref="shared:imprintSize" minOccurs="0"/>
                <xsd:element ref="shared:FobPointArray"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetProductResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="tns:Product" minOccurs="0"/>
                <xsd:element ref="shared:ServiceMessageArray" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetProductSellableRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="shared:wsVersion"/>
                <xsd:element ref="shared:id"/>
                <xsd:element ref="shared:password" minOccurs="0"/>
                <xsd:element ref="shared:localizationCountry" minOccurs="0"/>
                <xsd:element ref="shared:localizationLanguage" minOccurs="0"/>
                <xsd:element ref="shared:productId" minOccurs="0"/>
                <xsd:element ref="shared:partId" minOccurs="0"/>
                <xsd:element ref="shared:lineName" minOccurs="0"/>
                <xsd:element ref="shared:isSellable"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetProductSellableResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProductSellableArray" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ProductSellable" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element ref="shared:productId"/>
                                        <xsd:element ref="shared:partId" minOccurs="0"/>
                                        <xsd:element ref="shared:culturePoint" minOccurs="0"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="shared:ServiceMessageArray" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
